* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  color: #fff;
  background-color: #000;
  opacity: 0;
  text-shadow: 1px 1px 300px black;
  transition: 300ms all ease;
}

app {
  display: block;
}

#time {
  font-size: 160px;
}

section {
  align-items: center;
  background-color: #000;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {

}
